/*********************** TAG SELECTORS *******************/
a {
  color: #11999E;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  text-align: center;
}

h2 {
  margin: 20px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.47625rem;
  color: #425F57;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.14875rem;
  color: #425F57;
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.328125rem;
  color: #425F57;
  text-align: center;
  margin-bottom: 10px;
}

hr {
  border-style: dotted none none none;
  border-color: #5EA570;
  height: 0;
  border-width: 8px;
  width: 100px;
  margin: 60px auto;
}

img {
  width: 40%;
  /*margin-left: 30%;*/
}

table {
  margin: 0 auto;
}

p {
  width: 95%;
  margin: 0 auto;
  /* font-size: 82.8125%; */
  font-size: 120%;
  line-height: 2;
}

td {
  text-align: left;
}

.skills-table td {
  padding: 0 10px; /* Adjust padding as needed */
}

.skills-column {
  flex: 1;
  min-width: 250px; /* Minimum width before stacking */
}

/******************** CLASS SELECTORS *******************/

.approval-gif {
  width: 30px;
}

.attribute {
  margin: 0 auto;
  font-size: .7rem;
  bottom: 5%;
}

.birds {
  width: 3%;
  position: absolute;
  /* right: 43%; */
  left: 57%;
  top: 450px;
}

.blue-header {
  color: #66BFBF;
}

.bottom-cloud {
  /*padding-top: 10px;*/
  height: 80px;
  width: 150px;
  position: absolute;
  left: 30%;
  top: 400px;
  /* bottom: 30%; */
}

.bottom-container {
  background-color: #665A48;
  padding: 40px;
  margin-bottom: 0;
}

.btn {
  background: #50a866;
  background-image: -webkit-linear-gradient(top, #50a866, #288f42);
  background-image: -moz-linear-gradient(top, #50a866, #288f42);
  background-image: -ms-linear-gradient(top, #50a866, #288f42);
  background-image: -o-linear-gradient(top, #50a866, #288f42);
  background-image: linear-gradient(to bottom, #50a866, #288f42);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 35px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #80B6FC;
  background-image: -webkit-linear-gradient(top, #80B6FC, #6aa3e8);
  background-image: -moz-linear-gradient(top, #80B6FC, #6aa3e8);
  background-image: -ms-linear-gradient(top, #80B6FC, #6aa3e8);
  background-image: -o-linear-gradient(top, #80B6FC, #6aa3e8);
  background-image: linear-gradient(to bottom, #80B6FC, #6aa3e8);
  text-decoration: none;
}

.contact {
  padding-bottom: 30px;
  line-height: 2;
}

.contact-me {
  padding-bottom: 50px;
  width: 50%;
  margin: auto;
}

.copyright {
  margin: 40px auto 10px auto;
  color: #95D6A4;
}

.footer-link {
  padding: 20px;
  color: #95D6A4;
}

.image-attribute {
  text-align: center;
}

.middle-container {
  background-color: #95D6A4;
}

.mountains-trees-river {
  margin-bottom: 0;
}

.profile {
  padding-top: 50px;
}

.skill-row {
  width: 100%;
  margin: 10px auto 10px auto;
  line-height: 2;
}

.sun {
  width: 100px;
  margin-left: 0;
  position: absolute;
  left: 30%;
  top: 15px;
}

.text-align-left {
  text-align: left;
  margin-bottom: 10px;
}

.top-cloud {
  /*padding-top: 10px;*/
  height: 80px;
  width: 150px;
  position: absolute;
  right: 30%;
  top: 90px;
}

.top-container {
  background-color: #B8E8FC;
  position: relative;
  padding-top: 100px;
  margin: auto;
  text-align: center;
}

/***** ID SELECTORS = ONLY 1 INSTANCE ON PAGE & ONLY 1 ID PER ELEMENT ********/

#header-image{
  margin-left: 0;
}

#profile-photo {
  width: 540px;
  height: 360px;
}

